# .env example
# adjust and save this to ${production_top_dir}/.env

export WIO_ARP="/usr/sbin/arp"
export WIO_PING="/sbin/ping"
export WIO_RACKET="/usr/local/bin/racket"

export WIO_DB="$PWD/who-is-on.sqlite3"
export WIO_SUBNET="192.168.0"

export WIO_BASE=5
export WIO_RAND=5
