# .env example
# adjust and save this to ${production_top_dir}/.env

WIO_ARP="/usr/sbin/arp"
WIO_PING="/sbin/ping"
WIO_RACKET="/usr/local/bin/racket"

WIO_DB="who-is-on.sqlite3"
WIO_SUBNET="192.168.0"

WIO_BASE=5
WIO_RAND=5
