[Unit]
Description=who-is-on server

[Service]
Type=simple
User=ubuntu
Restart=no
TimeoutSec=300
EnvironmentFile=/home/hkim/workspace/who-is-on/.env
WorkingDirectory=/home/hkim/workspace/who-is-on
ExecStart=/usr/bin/racket who-is-on-app.rkt > who-is-on.log

[Install]
WantedBy=multi-user.target
